body {
  font-family: "Public Pixel", sans-serif;
  color: white;
  background-color: #000040;
  margin: 0;
  padding: 0;
  text-align: center;
  margin: auto;
}

#start-btn {
  font-family: "Public Pixel", sans-serif;
  color: white;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
